html,
body {
  margin: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --primary-color:;
  --primary-color2:;
  --title-color: ;
  --text-color: ;
  --border-color:;
  --gradient-color: ;
  --shadow-color:;
  --box-shadow: ;
  
  
  /* font family variables */
  --Roboto: "Roboto", cursive;
  --Poppins: "Poppins", cursive;
  --Merriweather: "Merriweather", cursive;
}
